.eventContainer {
  display: flex;
  flex-flow: column;
  width: 100%;
  padding-top: 3.3em;
}

.eventContainer .header {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-family: 'Poppins';
  padding: 2em 0;
  color: var(--navbar-text-hover-color);
}

.eventContainer .header .logoAppHeader {
  height: 80px;
}

.eventContainer .header .title {
  display: flex;
  font-weight: 600;
  font-size: 30pt;
}

.eventContainer .header .subtitle {
  font-weight: 500;
  font-size: 18pt;
  color: hsla(213, 44%, 95%, 0.95);
}

.eventContainer .header .subtitle.date {
  color: var(--color-active);
  font-size: 20pt;
}

.eventContainer .subheader {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 20pt;
  padding: 0.5em 0;
  color: var(--navbar-text-hover-color);
}

.eventContainer .stage {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 16pt;
  padding: 0em 0;
  color: var(--navbar-text-hover-color);
}

.eventContainer .header .buttons {
  display: flex;
  flex-flow: row;
  gap: 10px;
}

.eventContainer .header .buttons button {
  display: flex;
  flex-flow: row;
  gap: 9px;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 40px;
  border: 0;
  border-radius: 6px;
  font-family: 'Poppins';
  font-size: 11pt;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.9);
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.buttons button#discord {
  background-color: #5865f2;
  color: rgba(0, 0, 0, 0.9);
}

.eventContainer .header .buttons button#discord:hover {
  background-color: hsl(235, 86%, 70%);
  transition: all 0.2s ease-in;
}

.buttons button#twitch {
  background-color: #9146ff;
  color: rgba(0, 0, 0, 0.9);
}

.eventContainer .header .buttons button#twitch:hover {
  background-color: hsl(264, 100%, 69%);
  transition: all 0.2s ease-in;
}

.eventContainer .section {
  display: flex;
  flex-flow: column;
  padding: 20px 0 40px 0;
}

.eventContainer .cards {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin: auto;
  gap: 4em;
}

.eventContainer .cards .card {
  display: flex;
  flex-flow: column;
  height: 410px;
  width: 280px;
  border-radius: 6px;
  background-color: var(--action-div-color);
  padding: 6px 14px;
  cursor: default;
  /* user-select: none; */
}

.eventContainer .cards .card .title {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--navbar-text-hover-color);
  font-weight: 500;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  width: 100%;
  padding: 0 0 6px 0;
  text-align: center;
}

.eventContainer .cards .card .title span:last-of-type {
  font-size: 11.6pt;
  color: var(--color-active);
}

.card ul {
  font-size: 11.8pt;
  color: hsl(213, 8%, 79%);
  padding-left: 24px;
}

.card a {
  font-weight: 600;
  font-style: italic;
  color: var(--color-active);
  cursor: pointer;
}

.card .prize {
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-around;
  padding-top: 6px;
  margin: auto auto 0 auto;
  color: hsl(213, 8%, 79%);
  font-weight: 500;
  font-size: 11pt;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.card .prize img {
  border-radius: 4px;
  height: 38px;
}

.card .infoMess {
  color: hsl(213, 8%, 85%);
  font-weight: 600;
  font-size: 7.4pt;
  text-align: center;
  margin-top: 4px;
}

.eventContainer table {
  margin: auto;
  background-color: var(--action-div-color);
  border-radius: 6px;
  color: hsl(213, 8%, 79%);
  border-collapse: collapse;
  cursor: default;
}

.eventContainer table th {
  color: var(--navbar-text-hover-color);
}

.eventContainer table th:not(:nth-child(2), :nth-child(3)),
.eventContainer table td:not(:nth-child(2), :nth-child(3)) {
  padding: 0 16px;
  /* border-left: 1px solid rgba(0, 0, 0, 0.15); */
}

.eventContainer table tr {
  height: 50px;
  text-align: center;
  vertical-align: middle;
  transition: all 0.2s ease-out;
}

.eventContainer table tr:not(:first-child, :last-child):hover {
  background-color: hsl(218, 41%, 18%);
  transition: all 0.2s ease-in;
}

.eventContainer
  table
  tr:last-child:hover
  > td:is(:nth-child(2), :nth-child(3), :nth-child(4), :nth-child(5)) {
  background-color: hsl(218, 41%, 18%);
  transition: all 0.2s ease-in;
}

.eventContainer table tr:last-child:hover > td:first-child {
  border-radius: 0 0 0 6px;
  background-color: hsl(218, 41%, 18%);
  transition: all 0.2s ease-in;
}

.eventContainer table tr:last-child:hover > td:last-child {
  border-radius: 0 0 6px 0;
  background-color: hsl(218, 41%, 18%);
  transition: all 0.2s ease-in;
}

.eventContainer table thead tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.eventContainer table tr.me {
  background-color: hsl(219, 40%, 60%, 0.3);
}

.eventContainer table tr.me:hover {
  background-color: hsla(219, 40%, 60%, 0.3) !important;
}

.eventContainer table tr:last-child.me {
  background-color: hsla(219, 40%, 60%, 0.3);
}

.eventContainer table tr:last-child.me:hover {
  background-color: hsla(219, 40%, 60%, 0.3);
}

.eventContainer table tbody tr:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.eventContainer table :is(th:nth-child(2), td:nth-child(2)) {
  width: 50px;
  text-align: left;
}

.eventContainer table :is(th:nth-child(3), td:nth-child(3)) {
  min-width: 100px;
  text-align: left;
}

.eventContainer table td:nth-child(2) img {
  height: 36px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  cursor: pointer;
}

.eventContainer table td:nth-child(3) {
  display: flex;
  flex-flow: row;
  align-items: center;
  height: 50px;
  gap: 8px;
}

.eventContainer table td:nth-child(3) .name {
  cursor: pointer;
}

.eventContainer table td:nth-child(3) .flag {
  height: 20px;
}

.section .buttons {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.section .buttons .button {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  padding: 8px 15px;
  height: 25px;
  width: 12em;
  border-radius: 6px;
  color: hsl(213, 8%, 79%);
  font-size: 11.6pt;
  user-select: none;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.section .buttons .button.join {
  background-color: hsl(219, 40%, 25%);
}

.section .buttons .button.join:hover {
  background-color: hsl(218, 40%, 38%);
  transition: all 0.2s ease-in;
}

.section .buttons .button.leave {
  background-color: hsl(357, 40%, 34%);
}

.section .buttons .button.leave:hover {
  background-color: hsl(356, 40%, 38%);
  transition: all 0.2s ease-in;
}

.section .message {
  display: flex;
  flex-flow: row;
  gap: 0 5px;
  align-items: center;
  justify-content: center;
  height: 80px;
  padding: 0 8em;
  border-radius: 6px;
  background-color: var(--action-div-color);
  color: hsl(213, 8%, 79%);
  user-select: none;
  cursor: default;
  margin: auto;
}

.section .alert {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: auto;
  padding: 0 8.3em;
  border-radius: 6px;
  background-color: hsla(0, 30%, 50%);
  color: hsl(0, 65%, 18%);
  user-select: none;
  cursor: default;
}

.eventContainer .mappool {
  width: 70vw;
  height: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: auto;
  gap: 5px;
}

.eventContainer .mappool .map {
  height: 60px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  cursor: default;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5px 0;
  box-sizing: border-box;
  font-weight: 500;
}

.map .info {
  cursor: pointer;
}

.map .mod {
  height: 100%;
  width: 60px;
  margin: 0 0 0 5px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  font-size: 12pt;
}

.eventContainer .mappool .map.NM {
  border: 1px solid var(--mods-nm-bg);
}

.eventContainer .mappool .map.NM::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: hsla(226, 99%, 65%, 0.25);
  z-index: 1;
  backdrop-filter: blur(1.5px);
}

.eventContainer .mappool .map.NM > .mod {
  background-color: var(--mods-nm-bg);
}

.eventContainer
  .mappool
  .map.NM
  > :is(.info, .starRating, .beatmapID, .downloadBTN) {
  background-color: hsla(226, 99%, 65%, 0.65);
  border-radius: 5px;
  padding: 2px 10px;
}

.eventContainer
  .mappool
  .map.NM
  > :is(.mod, .info, .starRating, .beatmapID, .downloadBTN) {
  color: hsl(226, 53%, 8%);
}

.eventContainer .mappool .map.HD {
  border: 1px solid var(--mods-hd-bg);
}

.eventContainer .mappool .map.HD::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: hsla(43, 98%, 60%, 0.25);
  z-index: 1;
  backdrop-filter: blur(1.5px);
}

.eventContainer .mappool .map.HD > .mod {
  background-color: var(--mods-hd-bg);
}

.eventContainer
  .mappool
  .map.HD
  > :is(.info, .starRating, .beatmapID, .downloadBTN) {
  background-color: hsla(43, 98%, 60%, 0.65);
  border-radius: 5px;
  padding: 2px 10px;
}

.eventContainer
  .mappool
  .map.HD
  > :is(.mod, .info, .starRating, .beatmapID, .downloadBTN) {
  color: hsl(43, 65%, 10%);
}

.eventContainer .mappool .map.HR {
  border: 1px solid var(--mods-hr-bg);
}

.eventContainer .mappool .map.HR::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 100%, 69%, 0.25);
  z-index: 1;
  backdrop-filter: blur(1.5px);
}

.eventContainer .mappool .map.HR > .mod {
  background-color: var(--mods-hr-bg);
}

.eventContainer
  .mappool
  .map.HR
  > :is(.info, .starRating, .beatmapID, .downloadBTN) {
  background-color: hsla(0, 100%, 69%, 0.65);
  border-radius: 5px;
  padding: 2px 10px;
}

.eventContainer
  .mappool
  .map.HR
  > :is(.mod, .info, .starRating, .beatmapID, .downloadBTN) {
  color: hsl(0, 45%, 11%);
}

.eventContainer .mappool .map.DT {
  border: 1px solid var(--mods-dt-bg);
}

.eventContainer .mappool .map.DT::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: hsla(267, 97%, 73%, 0.25);
  z-index: 1;
  backdrop-filter: blur(1.5px);
}

.eventContainer .mappool .map.DT > .mod {
  background-color: var(--mods-dt-bg);
}

.eventContainer
  .mappool
  .map.DT
  > :is(.info, .starRating, .beatmapID, .downloadBTN) {
  background-color: hsla(267, 97%, 73%, 0.65);
  border-radius: 5px;
  padding: 2px 10px;
}

.eventContainer
  .mappool
  .map.DT
  > :is(.mod, .info, .starRating, .beatmapID, .downloadBTN) {
  color: hsl(267, 36%, 12%);
}
.eventContainer .mappool .map.FM {
  border: 1px solid var(--mods-fm-bg);
}

.eventContainer .mappool .map.FM::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: hsla(101, 38%, 63%, 0.25);
  z-index: 1;
  backdrop-filter: blur(1.5px);
}

.eventContainer .mappool .map.FM > .mod {
  background-color: var(--mods-fm-bg);
}

.eventContainer
  .mappool
  .map.FM
  > :is(.info, .starRating, .beatmapID, .downloadBTN) {
  background-color: hsla(101, 38%, 63%, 0.65);
  border-radius: 5px;
  padding: 2px 10px;
}

.eventContainer
  .mappool
  .map.FM
  > :is(.mod, .info, .starRating, .beatmapID, .downloadBTN) {
  color: hsl(101, 38%, 12%);
}
.eventContainer .mappool .map.TB {
  border: 1px solid var(--mods-tb-bg);
}

.eventContainer .mappool .map.TB::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: hsla(191, 26%, 57%, 0.25);
  z-index: 1;
  backdrop-filter: blur(1.5px);
}

.eventContainer .mappool .map.TB > .mod {
  background-color: var(--mods-tb-bg);
}

.eventContainer
  .mappool
  .map.TB
  > :is(.info, .starRating, .beatmapID, .downloadBTN) {
  background-color: hsla(191, 26%, 57%, 0.65);
  border-radius: 5px;
  padding: 2px 10px;
}

.eventContainer
  .mappool
  .map.TB
  > :is(.mod, .info, .starRating, .beatmapID, .downloadBTN) {
  color: hsl(191, 26%, 12%);
}

.eventContainer
  .mappool
  .map
  :is(.info, .starRating, .mod, .beatmapID, .downloadBTN) {
  z-index: 2;
}

.map .downloadBTN {
  margin-left: auto;
  margin-right: 5px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  padding: 5px 10px !important;
  cursor: pointer;
}
