@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* VAR COLORS */
:root {
    --notification-server-border-color: hsl(130, 45%, 60%);
    --notification-server-background-color: hsl(130, 26%, 25%);
    --notification-server-timestamp-color: hsl(130, 45%, 80%);
    --notification-friend-border-color: hsl(0, 55%, 58%);
    --notification-friend-background-color: hsl(0, 26%, 20%);
    --notification-friend-timestamp-color: hsl(0, 55%, 80%);
    --notification-team-border-color: hsl(214, 43%, 60%);
    --notification-team-background-color: hsl(214, 43%, 20%);
    --notification-team-timestamp-color: hsl(214, 43%, 80%);

    --scrollbar-color: hsla(219, 40%, 5%);
    --scrollbar-color-hover: hsla(219, 40%, 4%);
    --navbar-color: hsl(219, 41%, 8%, 0.8);
    --navbar-text-color: #d9e3f0;
    --navbar-text-hover-color: hsl(214, 43%, 95%);
    --navbar-link-active-background-color: hsla(219, 40%, 16%);
    --navbar-login-button-hover: hsla(219, 40%, 20%, 0.9);
    --navbar-logout-text-color: #F47373;
    --navbar-logout-text-hover-color: hsl(0, 0%, 100%);
    --navbar-logout-bg-color: hsla(0, 47%, 26%, 0.6);
    --site-background-color: #121B2B;
    --action-div-color: hsl(219, 40%, 16%);
    --action-div-color2: hsl(219, 40%, 14%);
    --action-div-hover-color: hsl(219, 40%, 18%);
    --team-overview-bg-color: hsla(219, 40%, 16%);
    --team-overview-text-color: hsl(0, 0%, 95%);
    --team-member-bg-color: hsla(219, 40%, 12%);
    --team-mappool-bg-color: hsla(219, 40%, 17%);
    --team-mappool-header-color: hsla(219, 40%, 10%);

    --team-mappool-input-color: hsl(214, 43%, 90%);
    --team-mappool-input-placeholder-color: hsl(214, 43%, 60%);


    --mods-text-light: #d9e3f0;
    --mods-text-dark: hsl(219, 41%, 8%);
    --mods-nm-bg: hsl(226, 99%, 65%);
    --mods-nm-bg-row: hsla(226, 99%, 65%, 0.15);
    --mods-hd-bg: hsl(43, 98%, 60%);
    --mods-hd-bg-row: hsla(43, 98%, 60%, 0.15);
    --mods-hr-bg: hsl(0, 100%, 69%);
    --mods-hr-bg-row: hsla(0, 100%, 69%, 0.15);
    --mods-ez-bg: hsl(120, 100%, 50%);
    --mods-ez-bg-row: hsla(120, 100%, 50%, 0.15);
    --mods-dt-bg: hsl(267, 97%, 73%);
    --mods-dt-bg-row: hsla(267, 97%, 73%, 0.15);
    --mods-fm-bg: hsl(101, 38%, 63%);
    --mods-fm-bg-row: hsla(101, 38%, 63%, 0.15);
    --mods-tb-bg: hsl(191, 26%, 57%);
    --mods-tb-bg-row: hsla(191, 26%, 57%, 0.15);
}

html, body {
    height: 100vh;
    width: 100vw;
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins';
    scrollbar-color: var(--scrollbar-color) transparent;
    overflow: hidden auto;
    background-color: var(--site-background-color);
}

a:link {
    text-decoration: inherit;
    color: inherit;
    cursor: default;
}

a:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: default;
}

/* NAVBAR */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.3em;
    position: fixed;
    width: 100vw;
    /* background-color: #293d74; */
    background-color: var(--navbar-color);
    backdrop-filter: blur(14px) saturate(180%);
    -webkit-backdrop-filter: blur(14px) saturate(180%);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    z-index: 999;
}

.logoNavbar {
    height: 2.5em;
    display: flex;
    align-content: center;
    margin-left: 6em;
}

.navLinks {
    color: var(--navbar-text-color);
    font-family: 'Poppins';
    display: flex;
    gap: 10px;
    margin: auto;
    font-weight: 500;
    list-style: none;
    padding: 0;
}

.navLinks li {
   display: inline-block;
}

.navLinks_link {
    padding: 6px 15px;
    border-radius: 20px;
    cursor: default;
    transition: 0.2s ease-out;
}

.navLinks_link:hover {
    background-color: var(--navbar-link-active-background-color);
    transition: 0.2s ease-in;
}

.navLinks_link.active {
    background-color: var(--navbar-link-active-background-color);
}

.userInfo {
    display: flex;
    flex-flow: row wrap;  justify-content: flex-end;
    position: relative;
    margin-right: 10px;
    cursor: default;
    gap: 8px;
}

.userInfo .userInfoContent{
    position: relative;
}

.userInfo .userInfoContent .profileActions{
    position: absolute;
    display: flex;
    flex-flow: column;
    top: 3.2em;
    right: 1px;
    width: 9em;
    padding: 5px;
    gap: 1px;
    border-radius: 10px;
    background-color: var(--navbar-color);
    backdrop-filter: blur(2px) saturate(180%);
    -webkit-backdrop-filter: blur(14px) saturate(180%);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    z-index: 995;
}

.userInfo .userInfoContent .profileActions .item{
    display: flex;
    font-size: 11pt;
    color: var(--navbar-text-color);
    padding: 4px 12px;
    text-align: left;
    border-radius: 8px;
    align-items: center;
    gap: 8px;
}

.userInfo .userInfoContent .profileActions .item:hover{
    background-color: var(--navbar-link-active-background-color);
    color: var(--navbar-text-hover-color);
}

.userInfo .userInfoContent .profileActions .item:last-child{
    color: var(--navbar-logout-text-color);
}

.userInfo .userInfoContent .profileActions .item:last-child:hover{
    background-color: var(--navbar-logout-bg-color);
    color: var(--navbar-logout-text-color);
}

.userBackground {
    border-radius: 20px;
}

.userContent {
    align-items: center;
    display: flex;
    border-radius: 20px;
    cursor: pointer;
}

.userInfo_name {
    color: var(--navbar-text-color);
    font-family: 'Poppins';
    align-self: center;
    padding: 2px 8px 2px 8px;
    font-weight: 300;
    position: relative;
    margin-left: 8px;
    user-select: none;
}

.userInfo_name #userPermissions {
    content: '';
    position: absolute;
    width: 79%;
    height: 2px;
    border-radius: 10px;
    bottom: 2px;
}

.userInfo_image {
    width: 2.2em;
    border-radius: 50%;
    margin: 0px;
    padding: 4px;
}

.profileDropdown {
    height: 200px;
    width: 30px;
    position: absolute;
}

.userLogin button {
    border: 0px;
    border-radius: 20px;
    padding: 6px 15px;
    transition: 0.1s ease-out;
}

.userLogin button:hover {
    background-color: var(--navbar-login-button-hover) !important;
    transition: 0.1s ease-in;
}


/* =============================== NOTIFICATIONS NAVBAR ======================================== */

.notificationsContainer {
    display: flex;
    align-content: center;
    justify-content: center;
    position: relative;
    align-items: center;
}

.notificationsButton {
    height: 40px;
    width: 40px;
    border: 0;
    border-radius: 100vh;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.notificationsButton:hover, .notificationsButton:focus {
    background-color: var(--navbar-link-active-background-color);
    color: var(--navbar-text-hover-color);
    transition: 0.1s all ease-in;
    cursor: pointer;
}

.notificationsButton span{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 4px;
    right: 6px;
    background-color: var(--navbar-logout-text-color);
    padding: 0px 4px;
    border-radius: 100vh;
    font-size: 7pt;
    font-weight: 600;
    font-family: 'Poppins';
    color: var(--site-background-color);
}

.notificationsList {
    position: absolute;
    top: 32px;
    right: 0;
    width: 400px;
    max-height: 131px;
    overflow-y: auto;
    background-color: var(--navbar-color);
    border: 1px solid hsla(219, 40%, 15%);
    border-radius: 10px;
    list-style: none;
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.notificationsList .notification {
    display: flex;
    flex-flow: row;
    color: var(--navbar-text-color);
    height: 65px;
    align-items: center;
    gap: 8px;
    font-size: 11pt;
}

.notificationsList .notification .noContent{
    margin: auto;
}

.notificationsList .notification.type0 {
    background-color: var(--notification-server-background-color);
}

.notificationsList .notification.type0 > .image {
    background-color: var(--notification-server-border-color);
}

.notificationsList .notification.type1 {
    background-color: var(--notification-friend-background-color);
}

.notificationsList .notification.type1 > .image {
    background-color: var(--notification-friend-border-color);
}

.notificationsList .notification.type2 {
    background-color: var(--notification-team-background-color);
}

.notificationsList .notification.type2 > .image {
    background-color: var(--notification-team-border-color);
}

.notification.type0 .timestamp {
    color: var(--notification-server-timestamp-color)
}
.notification.type1 .timestamp {
    color: var(--notification-friend-timestamp-color)
}
.notification.type2 .timestamp {
    color: var(--notification-team-timestamp-color)
}

.notificationsList .notification:not(:last-child) {
    border-bottom: 1px solid var(--site-background-color);
}

.notificationsList .notification .image {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
    border-radius: 0 10px 10px 0;
}

.notificationsList .notification .image .senderPropic {
    width: 40px;
    height: 40px;
    border-radius: 100vh;
}

.notificationsList .notification .content {
    display: flex;
    flex-flow: column;
    height: 100%;
    justify-content: center;
}

.notificationsList .notification .content .text {
    font-size: 11pt;
    font-weight: 300;
    line-height: 16px;
    height: 42px;
    padding: 5px 0 0 0;
    display: flex;
    align-items: center;
}


.notificationsList .notification .content .text div :is(span, a) {
    font-weight: 600;
}

.notificationsList .notification .content .text div a {
    cursor: pointer;
}

.notificationsList .notification .content .timestamp {
    font-size: 8.5pt;
    margin: 0 0 2px 0;
}

.notificationsList .notification .buttons {
    width: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 0 5px 0 0;
    gap: 4px;
    margin-left: auto;
}

.notificationsList .notification .buttons button {
    width: 30px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
}

.buttons button.accept {
    background-color: hsla(120, 50%, 55%, 0.5);
    color: hsla(120, 50%, 5%, 1);
    border: 1px solid hsla(120, 50%, 5%, 0.5);
    animation: 0.1s all ease-in-out;
}

.buttons button.refuse {
    background-color: hsla(0, 50%, 55%, 0.5);
    color: hsla(0, 50%, 5%, 1);
    border: 1px solid hsla(0, 50%, 5%, 0.5);
    animation: 0.1s all ease-in-out;
}

.buttons button.accept:hover {
    background-color: hsla(120, 50%, 55%, 0.7);
    animation: 0.1s all ease-in-out;
}

.buttons button.refuse:hover {
    background-color: hsla(0, 50%, 55%, 0.7);
    animation: 0.1s all ease-in-out;
}



/* =============================== MOBILE NAVBAR =================================== */

.mobileNav {
    display: none;
    position: fixed;
    bottom: 10px;
    width: 100vw;
    height: 4em;
    z-index: 999;
}

.mobileNav .nav{
    padding: 0 10px;
    margin: auto;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    border-radius: 100vh;
    width: fit-content;
    gap: 30px;
    color: var(--navbar-text-color);
    /* border: 1px solid hsla(219, 40%, 20%, 0.902); */
    background-color: var(--navbar-color);
    backdrop-filter: blur(14px) saturate(180%);
    -webkit-backdrop-filter: blur(14px) saturate(180%);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.mobileNav .nav .item{
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 100vh;
}

.mobileNav .nav .item img{
    width: 24px;
    height: 24px;
    border-radius: 100vh;
}

.mobileNav .nav .item.active{
    background-color: var(--navbar-link-active-background-color);
}

.mobileNav .nav .item i{
    font-size: 19pt;
    margin-bottom: 2px;
}

/* HOME PAGE */

.homeContent {
    min-height: 100vh;
    width: 100vw;
}

.appContext {
    margin: auto;
    text-align: center;
    padding: 5em 0em 0em 0em;
    color: #111;
    cursor: default;
}

.appHeader {
    font-weight: 800;
    font-size: 3.8em;
    width: 15em;
    max-width: 95%;
    line-height: 1.2em;
    margin: auto;
}

.appHeader .logoAppHeader {
    width: 3.8em;
    max-width: 55%;
}

.appText {
    font-weight: 500;
    font-size: 1.4em;
    padding: 0em 0em 0em 0em;
    color: #fff;
    text-shadow: 0px 1px 4px rgb(0 0 0 / 20%);
}

.appImage {
    margin: 18px auto auto auto;
    position: relative;
    top: 100px;
    opacity: 0;
}

.appImage object {
    border-radius: 10px;
}

.appImage object.app {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    max-width: 90%;
    height: auto;
}

.appImage img.visualizer {
    position: absolute;
    top: 30em;
    right: 13em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.appButtons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 12px auto auto auto;
    width: 62%;
}

.appButtons a {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    display: grid;
    grid-template-areas: 
    'icon text'
    'icon file';
    border: 0px;
    height: 51px;
    width: 180px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 10px;
    fill: #ddd;
    color: #ddd;
    cursor: pointer;
    transition: 0.1s ease-out;
    margin-top: 5px;
}

.appButtons a:hover {
    transform: scale(1.04);
    transition: 0.1s ease-in;
}

.appButtons a .icon {
    grid-area: icon;
    padding: 13px 0px 13px 6px;
}
.appButtons a .text {
    grid-area: text;
    margin: auto;
    padding-right: 6px;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}
.appButtons a .file {
    grid-area: file;
    margin: -8px auto auto auto;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

.appButtons #downloadEXE {
    background-color: rgb(51, 155, 106);
}

.appButtons #downloadZIP {
    background-color: rgb(209, 125, 47);
}

.appButtons #discordServer {
    background-color: #697EC4;
}

.appButtons #githubRep {
    background-color: #e0e1e2;
    color: #222;
    fill: #222
}


/* TOURNAMENTS PAGE */
#subtext_requests {
    display: flex;
    font-size: 14pt;
    margin-top: 10px;
    justify-content: center;
}

.tournamentsContainer {
    padding: 4em 0em 2em 0em;
    color: #fff;
    font-family: 'Poppins';
    text-align: center;
}

.tournamentsContainer #header{
    text-align: center;
    font-weight: 700;
    font-size: 3.8em;
}
.tournamentsContainer #text{
    text-align: center;
    font-weight: 400;
    font-size: 1.4em;
}

.tournamentsList {
    margin-top: 20px;
}

.tournamentsListDivider {
    content: '';
    width: 54%;
    position: relative;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 18px auto 0px auto;
    border-radius: 10px;
}

.tournamentsList .entry {
    display: grid;
    grid-template-areas: 'acronym name status';
    grid-template-columns: 7em auto 5.5em;
    background-color: var(--action-div-color);
    width: 50%;
    border-radius: 15px;
    margin: auto auto 5px auto;
    font-size: 1.2em;
    font-weight: 400;
    align-content: center;
    padding: 10px 0px;
    transition: 0.12s ease-out;
    cursor: pointer;
}

.tournamentsList .entry:hover {
    background-color: var(--action-div-hover-color);
    transition: 0.12s ease-in;
}

.tournamentsList .entry .acronym{
    padding-left: 1em;
    padding-right: 12px;
    grid-area: acronym;
    text-align: left;
    display: flex;
    align-items: center;
}

.tournamentsList .entry .name{
    grid-area: name;
    text-align: left;
    position: relative;
    padding-left: 12px;
    display: flex;
    flex-flow: column wrap;
}

.tournamentsList .entry .name::before{
    content: '';
    width: 2px;
    border-radius: 10px;
    left: 0px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute
}

.tournamentsList .entry .name .request{
    font-size: 0.7em;
    font-weight: 300;
    color: #ddd;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
}

.tournamentsList .entry .name .request .propic{
    width: 20px;
    border-radius: 50%;
    margin-left: 4px;
    background: center center / cover no-repeat;
}

.tournamentsList .entry .name .request .username{
    margin-left: 4px;
    font-weight: 400;
    color: #eee;
}

.tournamentsList .entry .status{
    grid-area: status;
    text-align: right;
    padding-right: 1em;
    font-weight: 300;
    font-size: 0.9em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.tournamentsList .entry .status span, .collapsibleBody .item .status span{
    padding: 2px 10px;
    border-radius: 15px;
}

.tournamentsList .entry :is(.status.Active, .status.Accepted) span, .collapsibleBody .item :is(.status.Active, .status.Accepted) span{
    background-color: rgb(61 136 61)
}

.tournamentsList .entry .status.Ended span{
    background-color: rgb(179 49 49);
}

.tournamentsList .entry .status.Pending span, .collapsibleBody .item .status.Pending span{
    background-color: rgb(230 140 37);
}




/* DOCUMENTATION PAGE */

.documentationContainer {
    padding: 4em 0em 2em 0em;
    color: #fff;
    font-family: 'Poppins';
    text-align: center;
}

.documentationContainer .divider {
    content: '';
    width: 72%;
    position: relative;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0px auto 8px auto;
    border-radius: 10px;
}

.documentationContainer span#header {
    text-align: center;
    font-weight: 700;
    font-size: 3.8em;
}

.documentationContainer span.string {
    font-weight: 700;
    background-color: rgba(0,0,0,0.3);
    padding: 1px 5px;
    border-radius: 20px;
}

.documentationContainer span.string.link {
    color: #70b7fd
}

.documentationContainer span.string.link span{
    color: rgb(240, 217, 89);
}

.documentationContainer .installation, .documentationContainer .fields, .documentationContainer .obs {
    width: 70%;
    margin: auto;
    text-align: left;
}

.documentationContainer .installation a, .documentationContainer .fields a, .documentationContainer .obs a{
    color: #70b7fd
}

.documentationContainer h1, .documentationContainer h2{
    margin: 0px 0px -15px 0px
}


/* ACCOUNT PAGE */



.accountContainer {
    display: flex;
    flex-direction: row;
    height: 100vh;
    flex-wrap: wrap;
}

.accountContainer .profileInfo{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    position: relative;
}

.accountContainer .profileInfo .userMain{
    margin: 0 auto;
}

.accountContainer .profileInfo .userSocial{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 10px auto 0 auto;
    gap: 5px;
}

.accountContainer .profileInfo .userSocial a{
    background-color: var(--action-div-color);
    color: #70b7fd;
    padding: 4px 0px;
    width: 100%;
    justify-content: center;
    border-radius: 10px;
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
    transition: all .4s;
}

.accountContainer .profileInfo .userSocial a:hover{
    background-color: var(--action-div-hover-color);
}

.accountContainer .profileInfo .userSocial a i{
    padding: 0 10px 0 0
}

.accountContainer .profileInfo::after{
    content: '';
    width: 2px;
    border-radius: 10px;
    right: 0px;
    height: 85vh;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    margin-top: 10.5vh;
}

.accountContainer .profileInfo img{
    width: 180px;
    border-radius: 100vh;
    height: 180px;
    margin: 10vh auto 0 auto;
    border: 3px solid #c1c1c1
}

.accountContainer .profileInfo .profileName{
    color: #EEE;
    font-family: 'Poppins';
    font-size: 2em;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: center;
}

.accountContainer .profileInfo .profileName #role{
    font-size: 10pt;
    font-weight: 500;
    padding: 3px 10px;
    border-radius: 100vh;
    margin-left: 5px;
}

.accountContainer .profileInfo .timeProfile{
    color: #EEE;
    font-family: 'Poppins';
    margin: 0 auto;
    font-size: 1.05em;
    text-align: center;
}

.accountContainer .profileActions{
    display: flex;
    flex-grow: 6;
}

.accountContainer .profileActions h2{
    text-transform: uppercase;
    font-size: 12.5pt;
    padding-left: 8px;
    margin-bottom: 5px;
    color: #EEE;
    font-weight: 700;
}

.accountContainer .profileActions .actionsContainer{
    margin: 4vh 0 0 0;
    width: 100%;
    padding: 2vw;
}

/* .accountContainer .profileActions .actionsContainer .actionCentre *{
    margin: 5px 0;
} */

.actionCategory {
    padding-right: 2vw;
}

.actionCentre {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.accountContainer .profileActions .actionsContainer .action{
    background-color: var(--action-div-color);
    height: 4em;
    border-radius: 1.2em;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    color: #DDD;
    font-size: 13pt;
    transition: 0.1s ease-out;
    padding: 0 1em;
    justify-content: space-between;
}

.accountContainer .profileActions .actionsContainer .actionOpen{
    background-color: var(--action-div-color);
    height: 4em;
    border-radius: 1.2em 1.2em 0 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    color: #DDD;
    font-size: 13pt;
    transition: 0.1s ease-out;
    padding: 0 1em;
    justify-content: space-between;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2) ;
    
}

.accountContainer .profileActions .actionsContainer :is(.action,.actionOpen):hover{
    background-color: var(--action-div-hover-color);
    color: #EEE;
    transition: 0.1s ease-in;
}

.accountContainer .profileActions .actionsContainer :is(.action,.actionOpen, #motiondiv) .tn{
    display: flex;
    flex-direction: row;
    gap: 6px;
    position: relative;
}

.accountContainer .profileActions .actionsContainer :is(.action,.actionOpen, #motiondiv) .text{
    user-select: none;
    cursor: default;
}

.accountContainer .profileActions .actionsContainer :is(.action,.actionOpen, #motiondiv) .number{
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0px 9px;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100vh;
    color: #DDD;
}

/* .accountContainer .profileActions .actionsContainer .action .number::before{
    content: '';
    width: 1.5px;
    border-radius: 100vh;
    height: 100%;
    right: 2.1em;
    background-color: #aaa;
    position: absolute
} */

.collapsibleBody {
    width: 100%;
    background-color: var(--action-div-color2);
    border-radius: 0 0 1.2em 1.2em;
    flex-direction: column;
    max-height: 275px;
    overflow-y: auto;
}

.collapsibleBody #noRequests {
    text-align: center;
    padding: 23px;
    font-size: 20px;
    color: #DDD;
}

.collapsibleBody .body #tourneyRequest{
    display: flex;
    flex-flow: column wrap;
    padding: 1em;
    gap: 5px;
}

.collapsibleBody .body #tourneyRequest :is(#tourneyName, .info input){
    display: flex;
    width: 100%;
    height: 40px;
    font-size: 16pt;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    border: 0;
    font-family: 'Poppins';
    color: #DDD;
    border-radius: 12px;
    padding: 0;
}

.collapsibleBody .body #tourneyRequest #tourneyName::placeholder, .collapsibleBody .body #tourneyRequest .info input::placeholder{
    color: #999
}

.collapsibleBody .body #tourneyRequest :is(#tourneyName:focus-visible, #tourneyName:focus, .info input:focus-visible, .info input:focus){
    outline: 0;
    outline-offset: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.collapsibleBody .body #tourneyRequest .info{
    display: flex;
    flex-flow: row;
    gap: 5px;
    width: 100%;
}

.collapsibleBody .body #tourneyRequest button{
    width: 100%;
    height: 40px;
    font-size: 14pt;
    text-align: center;
    background-color: hsla(224, 35%, 50%, 0.35);
    border: 0;
    font-family: 'Poppins';
    color: #DDD;
    border-radius: 12px;
}

.collapsibleBody .body #tourneyRequest button:hover{
    background-color: hsla(224, 35%, 50%, 0.45);
}

.collapsibleBody .body .formSubmitted{
    height: 162px;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}

.collapsibleBody .body .formSubmitted #text{
    font-weight: 700;
    font-size: 1.4em;
    margin: 0 auto;
    color:hsl(152, 50%, 50%);
}

.collapsibleBody .body .formSubmitted #subtext{
    margin: -4px auto 0 auto;
    color:hsl(152, 50%, 50%);
    font-weight: 500;
}

.collapsibleBody .body .formSubmitted .formSuccessIcon{
    width: 50px;
    margin: 0 auto;
    height: auto;
}

.collapsibleBody .item:not(:last-child){
    height: 2.5em;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    color: #DDD;
    font-size: 11.5pt;
    justify-content: space-between;
    padding: 0 1em;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    user-select: none;
    transition: all 0.1s;
}

.collapsibleBody :is(.item:hover, .item:last-child):hover{
    background-color: var(--action-div-hover-color);
}

.collapsibleBody .item:last-child{
    height: 2.5em;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    color: #DDD;
    font-size: 11.5pt;
    justify-content: space-between;
    padding: 0 1em;
    border-radius: 0 0 1.2em 1.2em;
    user-select: none;
    transition: all 0.1s;
}

.collapsibleBody .item .text{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 20px;
    position: relative;
}

/* .collapsibleBody .item .text::before{
    content: '';
    width: 1px;
    border-radius: 100vh;
    height: 100%;
    background-color: #aaa;
    position: absolute
} */


/* ============================ SCHEDULE PAGE ================================== */
/* 
.scheduleBack {
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: black;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.scheduleBack .scheduleContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40em;
    width: 25em;
    margin: auto;
    background-color: #283149;
    color: #DBEDF3;
}

.scheduleList {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.scheduleList .match {
    display: flex;
    flex-direction: column;
    height: 6.8em;
    width: 100%;
    border-radius: 15px;
    background-color: #404B69;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.1) , 0px 1px 2px 0px rgba(0,0,0,0.06);
}

.scheduleList .match .teams{
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.scheduleList .match .teams span.vs{
    width: auto;
    text-align: center;
}

.scheduleList .match .teams .team{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.scheduleList .match .teams .team:first-child{
    margin-right: auto;
    justify-content: left;
}
.scheduleList .match .teams .team:last-child{
    margin-left: auto;
    justify-content: right;
}

.scheduleList .match .teams img{
    width: 2.2em;
    border-radius: 100vh;
}

.scheduleList .match .tournament{
    margin-top: auto;
    width: 100%;
    height: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 10pt;
    background-color: hsl(224, 29%, 25%);
}

.scheduleList .match .time{
    margin-top: auto;
    width: 100%;
    height: 1.8em;
    border-radius: 0 0 15px 15px;
    background-color: hsl(224, 29%, 18%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.scheduleList .match .time .text{
    color: rgba(244, 208, 63, 1);
    font-size: 10.5pt;
} */


/* ============================ TEAM LIST PAGE ================================== */


.teamsContainer{
    display: flex;
    flex-direction: column;
    width: 100vw;
    color: #FFFFFF;
    padding: 4em 1.8em 0 1.8em;
}

.teamsContainer h1, .teamsContainer h2{
    margin: 5px 0 0 0;
}

.teamsList {
    display: flex;
    flex-direction: row wrap;
    width: 100%;
    overflow-y: auto;
    margin: 10px auto;
    gap: 10px;
}

.teamsList .item{
    height: 150px;
    width: 200px;
    background-color: var(--navbar-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

.teamsList .item:is(.add, .join){
    color: var(--team-mappool-input-placeholder-color);
    font-weight: 400;
    font-size: 12pt;
}

.teamsList .item img.normal{
    border-radius: 100vh;
    height: 45px;
    width: 45px;
    margin: 5px auto;
}

.teamsList .item img.national{
    width: 45px;
    margin: 13px auto;
}

.teamsList .item .item-name {
    font-size: 14pt;
    font-weight: 600;
}

.teamsList .item .item-tournament {
    font-size: 11pt;
}



/* ============================ TEAM MANAGEMENT PAGE ================================== */

.teamOverview{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    height: 14rem;
    width: 100vw;
    padding: 3.3em 30px 0px 30px;
    background-color: var(--team-overview-bg-color);
    color: var(--team-overview-text-color);
}

.teamOverview .teamOverview_Info {
    width: auto;
    padding: 0 8em;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.teamOverview .teamOverview_Info img {
    width: 4.5em;
}

.teamOverview .teamOverview_Info .teamOverview_Info_Name {
    font-size: 16pt;
    font-weight: 600;
    padding-top: 1px;
}

.teamOverview .teamOverview_Members {
    display: flex;
    flex-flow: column wrap;
    width: auto;
    height: 100%;
    justify-content: center;
}

.teamOverview .teamOverview_Members .teamOverview_Members_List {
    display: flex;
    flex-flow: column wrap;
    width: auto;
    height: 70%;
    gap: 5px;
    justify-content: flex-start;
}

.teamOverview .teamOverview_Members .teamOverview_Members_List .item {
    display: flex;
    flex-flow: row;
    background-color: var(--team-member-bg-color);
    padding: 5px 10px 5px 5px;
    border-radius: 100vh;
    gap: 6px;
    font-weight: 300;
    width: 115px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.teamOverview .teamOverview_Members .teamOverview_Members_List .item.captain {
    background-color: hsl(46, 53%, 50%, 0.3);
}

.teamOverview .teamOverview_Members .teamOverview_Members_List .item img {
    width: 25px;
    height: 25px;
    border-radius: 100vh;
}



.teamTabs .teamTabsBar {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 3.3em;
    background-color: var(--navbar-color);
    justify-content: center;
    align-items: center;
    gap: 2em;
    color: var(--navbar-text-color);
    margin: 0;
    list-style: none;
    padding: 0;
}

.teamTabs .teamTabsBar .teamTabsBarItem {
    padding: 6px 15px;
    border-radius: 20px;
    cursor: default;
    transition: 0.2s ease-out;
}

.teamTabs .teamTabsBar .teamTabsBarItem:hover, .teamTabs .teamTabsBar .teamTabsBarItem.react-tabs__tab--selected {
    background-color: var(--navbar-link-active-background-color);
    transition: 0.2s ease-in;
}

.teamTabsContent .scoresTab {
    max-height: 38em;
    width: 95vw;
    display: grid;
    grid-template-areas: 
    'mappool players';
    grid-template-columns: 600px auto;
    margin: 15px auto 0px auto;
    background-color: var(--team-mappool-bg-color);
    border-radius: 15px;
    overflow-x: auto;
}

.teamTabsContent .scoresTab::-webkit-scrollbar-track {
    margin: 0;
}

.teamTabsContent .scoresTab .mappool{
    width: 600px;
    height: 100%;
    grid-area: mappool;
    display: flex;
    flex-flow: column;
    border-right: 1px solid var(--team-member-bg-color);
}

.teamTabsContent .scoresTab .players{
    grid-area: players;
    display: grid;
    grid-template-columns: repeat(8, minmax(140px, auto));
    grid-auto-columns: column;
}

.teamTabsContent .scoresTab .players .player{
    height: 100%;
    display: flex;
    flex-flow: column;
    border-right: 1px solid var(--team-member-bg-color);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.teamTabsContent .scoresTab :is(.mappool, .players .player) .header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--team-mappool-header-color);
    color: var(--navbar-text-color);
    padding: 5px 0;
    border-radius: 15px 0 0 0;
}

.teamTabsContent .scoresTab .players .player .header{
    border-radius: 0 0 0 0;
}

.teamTabsContent .scoresTab .mappool .item{
    display: flex;
    flex-flow: row wrap;
    height: 130px;
    width: 100%;
    align-items: center;
}

.teamTabsContent .scoresTab .mappool .item:not(:last-child) {
    border-bottom: 1px solid var(--team-member-bg-color);
}

.teamTabsContent .scoresTab .mappool .item:last-child > .image img {
    border-radius: 0 0 0 15px;
}

.teamTabsContent .scoresTab .mappool .item.nm{
    background-color: var(--mods-nm-bg-row);
}
.teamTabsContent .scoresTab .mappool .item.hd{
    background-color: var(--mods-hd-bg-row);
}
.teamTabsContent .scoresTab .mappool .item.hr{
    background-color: var(--mods-hr-bg-row);
}
.teamTabsContent .scoresTab .mappool .item.dt{
    background-color: var(--mods-dt-bg-row);
}
.teamTabsContent .scoresTab .mappool .item.fm{
    background-color: var(--mods-fm-bg-row);
}
.teamTabsContent .scoresTab .mappool .item.tb{
    background-color: var(--mods-tb-bg-row);
}
.teamTabsContent .scoresTab .mappool .item.ez{
    background-color: var(--mods-ez-bg-row);
}

.teamTabsContent .scoresTab .mappool .item .image{
   display: flex;
   flex-flow: column;
}

.teamTabsContent .scoresTab .mappool .item .image .mod{
   width: 100%;
   text-align: center;
   border-radius: 0px 12px 0 0;
   font-weight: 500;
   font-size: 11pt;
   color: var(--mods-text-dark)
}

.teamTabsContent .scoresTab .mappool .item .image .mod.nm{
   background-color: var(--mods-nm-bg);
}

.teamTabsContent .scoresTab .mappool .item .image .mod.nm + img{
   border: 2px solid var(--mods-nm-bg);
}

.teamTabsContent .scoresTab .mappool .item .image .mod.hd{
   background-color: var(--mods-hd-bg);
}

.teamTabsContent .scoresTab .mappool .item .image .mod.hd + img{
   border: 2px solid var(--mods-hd-bg);
}

.teamTabsContent .scoresTab .mappool .item .image .mod.hr{
   background-color: var(--mods-hr-bg);
}

.teamTabsContent .scoresTab .mappool .item .image .mod.hr + img{
   border: 2px solid var(--mods-hr-bg);
}

.teamTabsContent .scoresTab .mappool .item .image .mod.dt{
   background-color: var(--mods-dt-bg);
}

.teamTabsContent .scoresTab .mappool .item .image .mod.dt + img{
   border: 2px solid var(--mods-dt-bg);
}

.teamTabsContent .scoresTab .mappool .item .image .mod.fm{
   background-color: var(--mods-fm-bg);
}

.teamTabsContent .scoresTab .mappool .item .image .mod.fm + img{
   border: 2px solid var(--mods-fm-bg);
}

.teamTabsContent .scoresTab .mappool .item .image .mod.tb{
   background-color: var(--mods-tb-bg);
}

.teamTabsContent .scoresTab .mappool .item .image .mod.tb + img{
   border: 2px solid var(--mods-tb-bg);
}

.teamTabsContent .scoresTab .mappool .item .image img{
    height: 6.5em;
}

.teamTabsContent .scoresTab .mappool .item .info{
    width: calc(100% - 153px);
    height: calc(100% - 21px);
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 21px 0 0 10px;
    color: var(--navbar-text-color);
}

.teamTabsContent .scoresTab .mappool .item .info .song{
    display: flex;
    flex-flow: row;
    gap: 5px;
    font-size: 13pt;
    font-weight: 500;
}

.teamTabsContent .scoresTab .mappool .item .info .creator{
    display: flex;
    height: 100%;
    flex-flow: row;
    font-size: 11pt;
    font-weight: 300;
}

.teamTabsContent .scoresTab .mappool .item .info .stats{
    display: flex;
    flex-flow: row wrap;
    font-size: 11pt;
    font-weight: 300;
    gap: 10px;
    align-items: center;
    padding: 0 0 4px 0;
}

.teamTabsContent .scoresTab .mappool .item .info .stats span{
    font-weight: 600;
}

.teamTabsContent .scoresTab .players .player .item{
    display: grid;
    grid-template-areas: 
    'average'
    'scores'
    'vote';
    gap: 4px;
    padding: 4px;
    height: 122px;
    border-bottom: 1px solid var(--team-member-bg-color);
}

.teamTabsContent .scoresTab .players .player :is(.average, .scores .score, .vote) :is(input, button){
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    text-align: center;
    background-color: var(--team-mappool-header-color);
    color: var(--team-mappool-input-color);
    font-family: 'Poppins';
    justify-content: center;
    align-items: center;
    display: flex;
}

.teamTabsContent .scoresTab .players .player .vote.me {
    display: grid;
    grid-template-columns: 48.5% 48.5%;
    gap: 4px;
}

.teamTabsContent .scoresTab .players .player .vote.me button:hover {
    cursor: pointer;
    background-color: hsla(219, 40%, 8%);
    transition: all 0.2s ease-in-out;
}

.teamTabsContent .scoresTab .players .player :is(.average, .scores .score, .vote) input::placeholder{
    color: var(--team-mappool-input-placeholder-color)
}

.teamTabsContent .scoresTab .players .player :is(.average, .scores .score, .vote) input:read-only{
    cursor: default;
}

.teamTabsContent .scoresTab .players .player :is(.average, .scores .score, .vote) input:focus-visible{
    border: 0;
    outline: 0;
}

.teamTabsContent .scoresTab .players .player .scores{
    height: 100%;
    display: grid;
    grid-area: scores;
    grid-template-columns: repeat(4, auto);
    gap: 4px;
}


.teamTabsContent .mappoolTab {
    width: 100vw;
    display: flex;
    margin: 0 6em;
    flex-flow: column;
}

.teamTabsContent .mappoolTab .stage{
    display: flex;
    flex-flow: row wrap;
    font-size: 20pt;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--navbar-text-color);
    gap: 10px;
    user-select: none;
    position: relative;
    margin: 0 0 10px 0;
}


.teamTabsContent .mappoolTab .mapInputs {
    display: flex;
    flex-flow: row;
    gap: 3px;
}

.teamTabsContent .mappoolTab .stage .stageDropdown, .mappoolTab :is(input, select, button){
    background-color: var(--navbar-color);
    padding: 10px 10px;
    font-size: 12pt;
    font-weight: 500;
    border-radius: 10px;
    align-self: center; 
    cursor: pointer;
    z-index: 10;
    backdrop-filter: blur(14px) saturate(180%);
    color: var(--navbar-text-color);
    border: 0;
}

.teamTabsContent .mappoolTab .stage .stageDropdown:focus-visible, .mappoolTab :is(input, select, button):focus-visible {
    outline: 0;
}


.teamTabsContent .mappoolTab .mapsList {
    display: flex;
    flex-flow: column;
    width: 40em;
    gap: 4px;
    margin: 15px 0 40px 0;
}

.teamTabsContent .mappoolTab .mapsList .item{
    display: flex;
    flex-flow: row;
    height: 4em;
    border-radius: 10px;
    background-color: var(--navbar-link-active-background-color);
    color: var(--navbar-text-color);
    align-items: center;
}

.teamTabsContent .mappoolTab .mapsList .item.nm{
    border: 1px solid var(--mods-nm-bg)
}
.teamTabsContent .mappoolTab .mapsList .item.hd{
    border: 1px solid var(--mods-hd-bg)
}
.teamTabsContent .mappoolTab .mapsList .item.hr{
    border: 1px solid var(--mods-hr-bg)
}
.teamTabsContent .mappoolTab .mapsList .item.dt{
    border: 1px solid var(--mods-dt-bg)
}
.teamTabsContent .mappoolTab .mapsList .item.fm{
    border: 1px solid var(--mods-fm-bg)
}
.teamTabsContent .mappoolTab .mapsList .item.tb{
    border: 1px solid var(--mods-tb-bg)
}

.teamTabsContent .mappoolTab .mapsList .mod{
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 8px 0 0 8px;
    font-weight: 500;
}

.teamTabsContent .mappoolTab .mapsList .mod.nm{
    background-color: var(--mods-nm-bg);
    color: var(--mods-text-dark)
}
.teamTabsContent .mappoolTab .mapsList .mod.hd{
    background-color: var(--mods-hd-bg);
    color: var(--mods-text-dark)
}
.teamTabsContent .mappoolTab .mapsList .mod.hr{
    background-color: var(--mods-hr-bg);
    color: var(--mods-text-dark)
}
.teamTabsContent .mappoolTab .mapsList .mod.dt{
    background-color: var(--mods-dt-bg);
    color: var(--mods-text-dark)
}
.teamTabsContent .mappoolTab .mapsList .mod.fm{
    background-color: var(--mods-fm-bg);
    color: var(--mods-text-dark)
}
.teamTabsContent .mappoolTab .mapsList .mod.tb{
    background-color: var(--mods-tb-bg);
    color: var(--mods-text-dark)
}

.teamTabsContent .mappoolTab .mapsList .item img{
    height: 4em;
}

.teamTabsContent .mappoolTab .mapsList .item .info{
    display: flex;
    flex-flow: column;
    padding: 0 10px;
    width: 75%;
}

.teamTabsContent .mappoolTab .mapsList .item .info .title{
    overflow: hidden;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.teamTabsContent .mappoolTab .mapsList .item .info .mapper{
    font-weight: 300;
    font-size: 10pt;
}


/* SCROLLBAR */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
    margin-top: 3.3em;
  }

  ::-webkit-scrollbar-corner {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-color-hover);
  }

.collapsibleBody::-webkit-scrollbar {
    width: 8px;
}

.collapsibleBody::-webkit-scrollbar-track {
    background: transparent;
    margin: 0 0 0.95em 0;
}

.collapsibleBody::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 100vh;
}


.notificationsList::-webkit-scrollbar {
    width: 6px;
}

.notificationsList::-webkit-scrollbar-track {
    background: transparent;
    margin: 0.3em 0;
}

.notificationsList::-webkit-scrollbar-thumb{
    background: hsl(219, 41%, 28%, 0.8);
}


/* ============================ RESPONSIVE ================================== */

/* PHONE */
@media only screen and (max-width: 655px) {

    html, body {
        overflow: hidden scroll;
    }

    header .logoNavbar {
        margin: auto;
    }
    
    header .navbar, header .userInfo {
        display: none;
    }

    .mobileNav {
        display: block;
    }

    .homeContent {
        padding-bottom: 3em;
    }

    ::-webkit-scrollbar {
        width: 10px;
      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        display: none;
      }
      
      /* Handle */
      ::-webkit-scrollbar-thumb {
        display: none;
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        display: none;
      }


  }


/* TABLET */
@media only screen and (max-width: 792px) {

    .appHeader .logoAppHeader {
        width: 35%;
    }

    .appText {
        font-size: 1.2em;
    }

    .accountContainer .profileInfo::after{
        display: none;
    }

    .actionCategory {
        padding-right: 0;
    }

    .tournamentsContainer #header {
        font-size: 2.8em;
    }

    .tournamentsContainer #text {
        font-size: 1.1em;
    }

    .tournamentsList .entry {
        width: 85%;
        grid-template-columns: 100%;
        grid-template-areas:
        "acronym"
        "name"
        "status";
        gap: 5px;
        font-size: 1.1em;
    }
    
    .tournamentsList .entry :is(.acronym, .name, .status){
        margin: auto;
        padding: 0 2px;
        text-align: center;
    }

    .tournamentsList .entry .name::before {
        display: none;
    }

    .tournamentsList .entry .name .request {
        margin: auto;
    }

    #subtext_requests {
        font-size: 11pt;
    }

    .documentationContainer span#header {
        font-size: 2.4em;
    }

    .documentationContainer p, li{
        font-size: 0.95em;
    }
    
    .documentationContainer img{
        width: 100% !important;
    }

    .documentationContainer h1 {
        font-size: 1.6em;
    }

    .documentationContainer h2 {
        font-size: 1.3em;
    }

    .documentationContainer .installation, .documentationContainer .fields, .documentationContainer .obs {
        width: 90%;
    }

  }