/* ============================ TEAM MANAGEMENT PAGE ================================== */

.teamOverview {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  height: 14rem;
  width: 100vw;
  padding: 3.3em 30px 0px 30px;
  background-color: var(--team-overview-bg-color);
  color: var(--team-overview-text-color);
}

.teamOverview .teamOverview_Info {
  width: auto;
  padding: 0 8em;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.teamOverview .teamOverview_Info img {
  width: 4.5em;
}

.teamOverview .teamOverview_Info .teamOverview_Info_Name {
  font-size: 16pt;
  font-weight: 600;
  padding-top: 1px;
}

.teamOverview .teamOverview_Members {
  display: flex;
  flex-flow: row wrap;
  width: auto;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.teamOverview .teamOverview_Members .teamOverview_Members_List {
  display: flex;
  flex-flow: row wrap;
  width: auto;
  height: 70%;
  gap: 5px;
  justify-content: flex-start;
}

.teamOverview .teamOverview_Members .teamOverview_Members_List .item {
  display: flex;
  flex-flow: column;
  background-color: var(--team-member-bg-color);
  padding: 4px;
  border-radius: 20px;
  gap: 10px;
  font-weight: 400;
  width: 140px;
  height: 140px;
  align-items: center;
  justify-content: center;
}

.teamOverview .teamOverview_Members .teamOverview_Members_List .item.captain {
  background-color: hsl(46, 53%, 50%, 0.3);
  color: #eee6c8;
}

.teamOverview .teamOverview_Members .teamOverview_Members_List .item img {
  width: 60px;
  height: 60px;
  border-radius: 8px;
}

.teamTabs .teamTabsBar {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 3.3em;
  background-color: var(--navbar-color);
  justify-content: center;
  align-items: center;
  gap: 2em;
  color: var(--navbar-text-color);
  margin: 0;
  list-style: none;
  padding: 0;
}

.teamTabs .teamTabsBar .teamTabsBarItem {
  text-transform: capitalize;
  padding: 6px 15px;
  border-radius: 20px;
  cursor: default;
  transition: 0.2s ease-out;
}

.teamTabs .teamTabsBar .teamTabsBarItem:hover,
.teamTabs .teamTabsBar .teamTabsBarItem.react-tabs__tab--selected {
  background-color: var(--navbar-link-active-background-color);
  transition: 0.2s ease-in;
}

.teamTabs .teamTabsBar .teamTabsBarItem:focus-visible {
  border: 0 transparent;
  outline: 0;
}

.teamTabsContent .scoresTab {
  max-height: 38em;
  width: 95vw;
  display: grid;
  grid-template-areas: "mappool players lineup";
  grid-template-columns: 600px auto minmax(300px, 500px);
  margin: 15px auto 15px auto;
  background-color: var(--team-mappool-bg-color);
  border-radius: 15px;
  overflow-x: auto;
}

.teamTabsContent .scoresTab::-webkit-scrollbar-track {
  margin: 0;
}

.teamTabsContent .scoresTab .mappool {
  width: 600px;
  height: 100%;
  grid-area: mappool;
  display: flex;
  flex-flow: column;
  border-right: 1px solid var(--team-member-bg-color);
}

.teamTabsContent .scoresTab .lineup {
  min-width: 300px;
  width: 100%;
  height: 100%;
  grid-area: lineup;
  display: flex;
  flex-flow: column;
  position: relative;
  grid-column: auto;
}

.teamTabsContent .scoresTab .lineup .item {
  display: grid;
  grid-template-areas:
    "suggested"
    "definitive";
  gap: 4px;
  padding: 4px;
  height: 122px;
  border-bottom: 1px solid var(--team-member-bg-color);
}

.teamTabsContent .scoresTab .lineup .item :is(.suggested, .definitive) {
  display: flex;
  flex-flow: column;
  background-color: var(--team-mappool-header-color);
}

.teamTabsContent .scoresTab .lineup .item :is(.suggested, .definitive) .header {
  display: flex;
  height: 25px;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  background-color: #161d2b;
  font-size: 8.5pt;
  font-weight: 500;
  padding: 4px 0;
  cursor: default;
  user-select: none;
  box-sizing: border-box;
}

.teamTabsContent
  .scoresTab
  .lineup
  .item
  :is(.suggested, .definitive)
  .players {
  width: 100%;
  height: 34px;
  text-align: center;
  background-color: transparent;
  color: #c5cdd8;
  font-family: "Poppins";
  font-size: 8.2pt;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  display: flex;
  cursor: default;
  box-sizing: border-box;
  gap: 0 4px;
}

.teamTabsContent
  .scoresTab
  .lineup
  .item
  :is(.suggested, .definitive)
  .players
  .player {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  border: 0;
  gap: 0 4px;
  height: auto;
  background-color: #161d2b;
  padding: 4px 6px;
  border-radius: 50vh;
}

.teamTabsContent
  .scoresTab
  .lineup
  .item
  :is(.suggested, .definitive)
  .players
  .player
  img {
  height: 16px;
  width: 16px;
  border-radius: 50vh;
}

.teamTabsContent
  .scoresTab
  .lineup
  .item
  :is(.suggested, .definitive)
  .players
  .player
  span.mod {
  text-transform: uppercase;
  font-weight: 600;
}

.teamTabsContent
  .scoresTab
  .lineup
  .item
  :is(.suggested, .definitive)
  .players
  .player
  span.mod.nm {
  color: var(--mods-nm-bg);
}

.teamTabsContent
  .scoresTab
  .lineup
  .item
  :is(.suggested, .definitive)
  .players
  .player
  span.mod.hd {
  color: var(--mods-hd-bg);
}

.teamTabsContent
  .scoresTab
  .lineup
  .item
  :is(.suggested, .definitive)
  .players
  .player
  span.mod.hr {
  color: var(--mods-hr-bg);
}

.teamTabsContent
  .scoresTab
  .lineup
  .item
  :is(.suggested, .definitive)
  .players
  .player
  span.mod.ez {
  color: var(--mods-ez-bg);
}

.teamTabsContent .scoresTab .lineup .item :is(.suggested, .definitive) input {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  text-align: center;
  background-color: transparent;
  color: var(--team-mappool-input-color);
  font-family: "Poppins";
  font-weight: 400;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: auto;
}

.teamTabsContent
  .scoresTab
  .lineup
  .item
  :is(.suggested, .definitive)
  input:read-only {
  cursor: default;
}

.teamTabsContent
  .scoresTab
  .lineup
  .item
  :is(.suggested, .definitive)
  input:is(:focus, :focus-visible) {
  outline: 0;
  border: 0;
}

.teamTabsContent .scoresTab .players {
  width: min-content;
  grid-area: players;
  display: grid;
  grid-auto-columns: column;
}

.teamTabsContent .scoresTab .players .player {
  height: 100%;
  display: flex;
  flex-flow: column;
  border-right: 1px solid var(--team-member-bg-color);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.teamTabsContent .scoresTab :is(.mappool, .players .player, .lineup) .header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--team-mappool-header-color);
  color: var(--navbar-text-color);
  padding: 5px 0;
  border-radius: 15px 0 0 0;
  cursor: default;
}

.teamTabsContent .scoresTab :is(.players .player, .lineup) .header {
  border-radius: 0 0 0 0;
}

.teamTabsContent .scoresTab .mappool .item {
  display: flex;
  flex-flow: row wrap;
  height: 130px;
  width: 100%;
  align-items: center;
  cursor: default;
}

.teamTabsContent .scoresTab .mappool .item:not(:last-child) {
  border-bottom: 1px solid var(--team-member-bg-color);
}

.teamTabsContent .scoresTab .mappool .item:last-child > .image img {
  border-radius: 0 0 0 15px;
}

.teamTabsContent .scoresTab .mappool .item.nm {
  background-color: var(--mods-nm-bg-row);
}
.teamTabsContent .scoresTab .mappool .item.hd {
  background-color: var(--mods-hd-bg-row);
}
.teamTabsContent .scoresTab .mappool .item.hr {
  background-color: var(--mods-hr-bg-row);
}
.teamTabsContent .scoresTab .mappool .item.dt {
  background-color: var(--mods-dt-bg-row);
}
.teamTabsContent .scoresTab .mappool .item.fm {
  background-color: var(--mods-fm-bg-row);
}
.teamTabsContent .scoresTab .mappool .item.tb {
  background-color: var(--mods-tb-bg-row);
}
.teamTabsContent .scoresTab .mappool .item.ez {
  background-color: var(--mods-ez-bg-row);
}

.teamTabsContent .scoresTab .mappool .item .image {
  display: flex;
  flex-flow: column;
  cursor: pointer;
  width: 142.66px;
}

.teamTabsContent .scoresTab .mappool .item .image .mod {
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 11pt;
  color: var(--mods-text-dark);
}

.teamTabsContent .scoresTab .mappool .item:nth-child(2) > .image .mod {
  border-radius: 0px 12px 0 0 !important;
}

.teamTabsContent .scoresTab .mappool .item .image .mod.nm {
  background-color: var(--mods-nm-bg);
}

.teamTabsContent .scoresTab .mappool .item .image .mod.nm + img {
  border: 2px solid var(--mods-nm-bg);
}

.teamTabsContent .scoresTab .mappool .item .image .mod.hd {
  background-color: var(--mods-hd-bg);
}

.teamTabsContent .scoresTab .mappool .item .image .mod.hd + img {
  border: 2px solid var(--mods-hd-bg);
}

.teamTabsContent .scoresTab .mappool .item .image .mod.hr {
  background-color: var(--mods-hr-bg);
}

.teamTabsContent .scoresTab .mappool .item .image .mod.hr + img {
  border: 2px solid var(--mods-hr-bg);
}

.teamTabsContent .scoresTab .mappool .item .image .mod.dt {
  background-color: var(--mods-dt-bg);
}

.teamTabsContent .scoresTab .mappool .item .image .mod.dt + img {
  border: 2px solid var(--mods-dt-bg);
}

.teamTabsContent .scoresTab .mappool .item .image .mod.fm {
  background-color: var(--mods-fm-bg);
}

.teamTabsContent .scoresTab .mappool .item .image .mod.fm + img {
  border: 2px solid var(--mods-fm-bg);
}

.teamTabsContent .scoresTab .mappool .item .image .mod.tb {
  background-color: var(--mods-tb-bg);
}

.teamTabsContent .scoresTab .mappool .item .image .mod.tb + img {
  border: 2px solid var(--mods-tb-bg);
}

.teamTabsContent .scoresTab .mappool .item .image img {
  height: 6.5em;
}

.teamTabsContent .scoresTab .mappool .item .info {
  width: calc(100% - 153px);
  height: calc(100% - 21px);
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 21px 0 0 6px;
  color: var(--navbar-text-color);
}

.teamTabsContent .scoresTab .mappool .item .info .song {
  display: flex;
  flex-flow: row;
  gap: 5px;
  font-size: 13pt;
  font-weight: 500;
}

.teamTabsContent .scoresTab .mappool .item .info .creator {
  display: flex;
  height: 100%;
  flex-flow: row;
  font-size: 11pt;
  font-weight: 300;
}

.teamTabsContent .scoresTab .mappool .item .info .stats {
  display: flex;
  flex-flow: row wrap;
  font-size: 11pt;
  font-weight: 300;
  gap: 10px;
  align-items: center;
  padding: 0 0 4px 0;
}

.teamTabsContent .scoresTab .mappool .item .info .stats span {
  font-weight: 600;
}

.teamTabsContent .scoresTab .players .player .item {
  display: grid;
  grid-template-areas:
    "average"
    "scores"
    "vote";
  gap: 4px;
  padding: 4px;
  height: 122px;
  border-bottom: 1px solid var(--team-member-bg-color);
}

.teamTabsContent
  .scoresTab
  .players
  .player
  :is(.average, .scores .score, .vote)
  :is(input, button, select) {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  text-align: center;
  background-color: var(--team-mappool-header-color);
  color: var(--team-mappool-input-color);
  font-family: "Poppins";
  font-weight: 400;
  justify-content: center;
  align-items: center;
  display: flex;
}

.teamTabsContent .scoresTab .players .player .scores .score :is(input, button) {
  text-align: center;
  font-size: 9pt;
}

.teamTabsContent .scoresTab .players .player .vote.freemod {
  display: flex;
  flex-flow: row;
  gap: 4px;
}

.teamTabsContent .scoresTab .players .player .vote.freemod select:disabled {
  -moz-appearance: none;
  -webkit-appearance: none;
}

.teamTabsContent
  .scoresTab
  .players
  .player
  .vote.freemod
  select:disabled::-ms-expand {
  display: none;
}

.vote.freemod select.hd {
  background-color: var(--mods-hd-bg) !important;
  color: rgba(0, 0, 0, 0.7) !important;
  font-weight: 500 !important;
}
.vote.freemod select.hr {
  background-color: var(--mods-hr-bg) !important;
  color: rgba(0, 0, 0, 0.7) !important;
  font-weight: 500 !important;
}
.vote.freemod select.ez {
  background-color: var(--mods-ez-bg) !important;
  color: rgba(0, 0, 0, 0.7) !important;
  font-weight: 500 !important;
}

.teamTabsContent .scoresTab .players .player .vote.freemod button:hover {
  cursor: pointer;
  background-color: hsla(219, 40%, 8%);
  transition: all 0.2s ease-in-out;
}

.teamTabsContent
  .scoresTab
  .players
  .player
  :is(.average, .scores .score, .vote)
  input::placeholder {
  color: var(--team-mappool-input-placeholder-color);
  text-align: center;
}

.teamTabsContent
  .scoresTab
  .players
  .player
  :is(.average, .scores .score, .vote)
  input:read-only {
  cursor: default;
}

.teamTabsContent
  .scoresTab
  .players
  .player
  :is(.average, .scores .score, .vote)
  input:focus-visible {
  border: 0;
  outline: 0;
}

.teamTabsContent .scoresTab .players .player .scores {
  height: 100%;
  display: grid;
  grid-area: scores;
  grid-template-columns: repeat(4, auto);
  gap: 4px;
}

.teamTabsContent .mappoolTab {
  width: 100vw;
  display: flex;
  margin: 0 6em;
  flex-flow: column;
}

.teamTabsContent .mappoolTab .stage {
  display: flex;
  flex-flow: row wrap;
  font-size: 20pt;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--navbar-text-color);
  gap: 10px;
  user-select: none;
  position: relative;
  margin: 0 0 10px 0;
}

.teamTabsContent .mappoolTab .mapInputs {
  display: flex;
  flex-flow: row;
  gap: 3px;
}

.teamTabsContent .mappoolTab .stage .stageDropdown,
.mappoolTab :is(input, select, button) {
  background-color: var(--navbar-color);
  padding: 10px 10px;
  font-size: 11pt;
  font-weight: 500;
  font-family: "Poppins";
  border-radius: 10px;
  align-self: center;
  cursor: pointer;
  z-index: 10;
  backdrop-filter: blur(14px) saturate(180%);
  color: var(--navbar-text-color);
  border: 0;
}

.teamTabsContent .mappoolTab .stage .stageDropdown:focus-visible,
.mappoolTab :is(input, select, button):focus-visible {
  outline: 0;
}

.teamTabsContent .mappoolTab .mapsList {
  display: flex;
  flex-flow: column;
  width: 40em;
  gap: 4px;
  margin: 15px 0 40px 0;
}

.teamTabsContent .mappoolTab .mapsList .item {
  display: flex;
  flex-flow: row;
  height: 4em;
  border-radius: 10px;
  background-color: var(--navbar-link-active-background-color);
  color: var(--navbar-text-color);
  align-items: center;
}

.teamTabsContent .mappoolTab .mapsList .item.nm {
  border: 1px solid var(--mods-nm-bg);
}
.teamTabsContent .mappoolTab .mapsList .item.hd {
  border: 1px solid var(--mods-hd-bg);
}
.teamTabsContent .mappoolTab .mapsList .item.hr {
  border: 1px solid var(--mods-hr-bg);
}
.teamTabsContent .mappoolTab .mapsList .item.dt {
  border: 1px solid var(--mods-dt-bg);
}
.teamTabsContent .mappoolTab .mapsList .item.fm {
  border: 1px solid var(--mods-fm-bg);
}
.teamTabsContent .mappoolTab .mapsList .item.tb {
  border: 1px solid var(--mods-tb-bg);
}

.teamTabsContent .mappoolTab .mapsList .mod {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 8px 0 0 8px;
  font-weight: 500;
}

.teamTabsContent .mappoolTab .mapsList .mod.nm {
  background-color: var(--mods-nm-bg);
  color: var(--mods-text-dark);
}
.teamTabsContent .mappoolTab .mapsList .mod.hd {
  background-color: var(--mods-hd-bg);
  color: var(--mods-text-dark);
}
.teamTabsContent .mappoolTab .mapsList .mod.hr {
  background-color: var(--mods-hr-bg);
  color: var(--mods-text-dark);
}
.teamTabsContent .mappoolTab .mapsList .mod.dt {
  background-color: var(--mods-dt-bg);
  color: var(--mods-text-dark);
}
.teamTabsContent .mappoolTab .mapsList .mod.fm {
  background-color: var(--mods-fm-bg);
  color: var(--mods-text-dark);
}
.teamTabsContent .mappoolTab .mapsList .mod.tb {
  background-color: var(--mods-tb-bg);
  color: var(--mods-text-dark);
}

.teamTabsContent .mappoolTab .mapsList .item img {
  height: 4em;
  width: 85.3333px;
}

.teamTabsContent .mappoolTab .mapsList .item .info {
  display: flex;
  flex-flow: column;
  padding: 0 10px;
  width: 75%;
}

.teamTabsContent .mappoolTab .mapsList .item .info .title {
  overflow: hidden;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.teamTabsContent .mappoolTab .mapsList .item .info .mapper {
  font-weight: 300;
  font-size: 10pt;
}

/* COLORS INPUT */
input.score-1 {
  background-color: #db625a !important;
  color: #532522 !important;
  text-align: left;
}
input.score-2 {
  background-color: #b7845c !important;
  color: #463223 !important;
  text-align: left;
}
input.score-3 {
  background-color: #9c9d5e !important;
  color: #3b3c24 !important;
  text-align: left;
}
input.score-4 {
  background-color: #86b25f !important;
  color: #334424 !important;
  text-align: left;
}
input.score-5 {
  background-color: #76c060 !important;
  color: #2d4924 !important;
  text-align: left;
}
input.score-6 {
  background-color: #5adb62 !important;
  color: #225325 !important;
  text-align: left;
}

/* REMOVE ARROWS ON NUMBER INPUT */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
